{% raw -%}
name: build
on: [push, pull_request]
jobs:
  test:
    name: {{ '${{ matrix.tox_env }} (${{ matrix.os }})' }}
    runs-on: {{ '${{ matrix.os }}' }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        tox_env: {{ tox_environments }}
        os: [
{%- for os in [
    'ubuntu',
{%- endraw %}
{%- if cookiecutter.github_actions_windows == 'yes' %}
    'windows',
{%- endif %}
{%- if cookiecutter.github_actions_osx == 'yes' %}
    'macos',
{%- endif %}
{%- raw %}
] %}
'{{ os }}',
{%- endfor -%}
]
        python: [{% for env in tox_environments%}'{{ env[2] }}.{{ env[3:] }}',{% endfor %}]
        toxpython: {{ 'python${{ matrix.python }}' }}
        python_arch: 'x64'
        include:
          - name: 'check'
            python: '3.11'
            toxpython: 'python3.11'
            tox_env: 'check'
            os: 'ubuntu-latest'
{%- endraw %}
{%- if cookiecutter.sphinx_docs == "yes" %}
          - name: 'docs'
            python: '3.11'
            toxpython: 'python3.11'
            tox_env: 'docs'
            os: 'ubuntu-latest'
{%- endif %}
{%- raw %}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: {{ '${{ matrix.python }}' }}
        architecture: {{ '${{ matrix.python_arch }}' }}
{%- endraw %}
    - name: install dependencies
      run: |
        python -m pip install --progress-bar=off -r ci/requirements.txt
        virtualenv --version
        pip --version
        tox --version
        pip list --format=freeze
{%- raw %}
    - name: test
      env:
        TOXPYTHON: '{{ '${{ matrix.toxpython }}' }}'
      run: >
        tox -e {{ '${{ matrix.tox_env }}' }} -v
{%- endraw %}
{%- if cookiecutter.coveralls == 'yes' %}
    - uses: coverallsapp/github-action@v2
      if: {{ "{{ '${{ always() }}' }}" }}
      continue-on-error: true
      with:
        parallel: true
        flag-name: {{ "{{ '${{ matrix.tox_env }}' }}" }}
{%- endif %}
{%- if cookiecutter.codecov == 'yes' %}
    - uses: codecov/codecov-action@v3
      if: {{ "{{ '${{ always() }}' }}" }}
      with:
        verbose: true
        flags: {{ "{{ '${{ matrix.tox_env }}' }}" }}
{%- endif %}
{%- if cookiecutter.coveralls == 'yes' %}
  finish:
    needs: test
    if: {{ "{{ '${{ always() }}' }}" }}
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
{%- endif %}
